/*先將所有元素部分屬性歸零*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*設定所有元素範圍*/
body{
    height: 100vh;
    display: flex;
    background: gainsboro;
    
    flex-direction: column; 
    justify-content: center;
}

/*設定標題*/
#title1{
    background-color: rgb(20, 20, 20);
    color: rgb(235, 235, 235);
    padding: 1rem;
    font-size: 5rem;
    text-align: center;
}
#title2{
    color: rgb(77, 77, 77);
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
}


/*設定牌桌定位*/
.memory-game{
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    perspective: 1000px;  
}

/*設定卡牌定位:X4*Y4*/
.card{
    width: calc(25% - 10px);  
    height: calc(25% - 10px);  
    margin: 5px;
    position: relative;  
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);  

    transform: scale(1);  

    transform-style: preserve-3d;  
    transition: transform .5s;  
}

/*設定卡牌花色在牌上*/
.Fside, .Bside{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: whitesmoke;

    backface-visibility: hidden;  
}
.Fside{
    transform: rotateY(180deg);  
}

/*設定翻牌效果(配合js)*/
.card.flip{
    transform:rotateY(180deg);
}


/*設定點擊效果*/
.card:active{  
    transform: scale(0.97);  
    transition: transform .2s;  
}


/*狀態欄樣式*/
.state{
    color: rgb(90, 90, 90);
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}

#moves, #time{
    color:rgb(185, 48, 48);
}

/*開始*/
#start {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.explain{
    background-color:rgba(0, 0, 0, 0.5);
    width: 50%;
    padding: 20px;
    color:aliceblue;
    font-size: 1.5rem;
    align-items: center;
}

#startBtn{
    background: white;
    color: #7c7c7c;
    font-size: 2rem;
    padding: 4px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);  
}

/*結束*/
.hide{
    display: none ;
}

#end {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0%;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#endBtn{
    background: white;
    color: #7c7c7c;
    font-size: 2rem;
    padding: 4px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3); 
}